In [3]:
import pandas as pd 
import nltk 
from nltk.corpus import stopwords 
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.cross_validation import train_test_split 
from sklearn import naive_bayes 
from sklearn.metrics import roc_auc_score

In [4]:
df= pd.read_csv("SMSSpamCollection",sep='\t', names=['spam', 'txt'])

In [5]:
df.head()

   spam                                                txt
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.spam.replace("ham", 0, inplace=True)
df.spam.replace("spam", 1, inplace=True)

In [7]:
df.head()

   spam                                                txt
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [8]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(stop_words=stopset,
                                 use_idf=True, lowercase=True, strip_accents='ascii')

In [9]:
y=df.spam

In [10]:
X = vectorizer.fit_transform(df.txt)

In [11]:
print y.shape
print X.shape

(5572,)
(5572, 8605)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
clf= naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
roc= roc_auc_score(y_test, clf.predict_proba(X_test)[:,1])
print "Naive  AUC = ", roc

Naive  AUC =  0.984319201856

In [17]:
import numpy as np
sms_review_array= np.array(["I see the letter B on my car"])
sms_review_vector= vectorizer.transform(sms_review_array)
print clf.predict(sms_review_vector)

[0]

### hence its ham